@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F5FD;
}
body .rehab{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 12px;
    box-shadow: var(--shadow-1);
    z-index: 4;
    margin-left: 20px;
}


.header.active { position: fixed; }

.container{
    width: 800px;
    height: 500px;
    overflow: hidden;
    box-shadow: 20px 20px 60px #b3b3b3;
    position: relative;
}

.container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.overlay{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: #f3f5fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
}

.overlay img{
    width: 200px;
    margin: 15px 0;
}

.overlay h1{
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 500;
}

.overlay button{
    width: 130px;
    padding: 8px 0;
    margin: 10px 0;
    border: 3px solid #fff;
    cursor: pointer;
    background-color: #ff851b;
    color: #fff;
}

.form-box{
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    position: relative;
    transition: 1s;
}

.form-box .form h2{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

.form-box .form input{
    width: 94%;
    height: 50px;
    padding: 0 10px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}

.social-box{
    text-align: center;
    margin: 8px 0;
    text-transform: uppercase;
}

.social-box img{
    width: 30px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.social-box p{
    font-size: 11px;
    font-weight: 400;
}

.form-box .form input[type="submit"]{
    background-color: #ff851b;
    color: #fff;
    cursor: pointer;
}

.footer-text{
    margin: 10px 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
}

.footer-text a{
    text-decoration: none;
    color: #ff851b;
    cursor: pointer;
    font-weight: 500;
}

.container .signup-box{
    pointer-events: none;
  
}

.container.active .signup-box{
    pointer-events: initial;
}

.container .signup-box .form-box{
    left: 100%;
}

.container.active .signup-box .form-box{
    left: 0;
}

.container .signup-box .overlay{
    left: -100%;
}

.container.active .signup-box .overlay{
    left: 0;
}

.container .signin-box .form-box{
    left: 0;
}

.container.active .signin-box .form-box{
    left: 100%;
}

.container .signin-box .overlay{
    left: 0;
}

.container.active .signin-box .overlay{
    left: -100%;
}

@media (max-width: 768px) {
    body{
        padding: 10px;
       
    }
    .container{
        max-width: 400px; 
        margin-bottom: 300%;
   
  
    }

    .overlay{
        display: none;
    }

    .form-box{
        width: 100%;
    }


}






